@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
    background: linear-gradient(326deg, #a4508b, #5f0a87);
    font-family: 'Poppins',sans-serif;
}

.wrap{
    position: relative;
}
h1{
    color: #fff;
    font-size: 90px;
    padding: 20px 30px;
    text-shadow: 2px 2px rgba(0,0,0,0.3);
    text-transform: uppercase;
}
.drop{
    background: rgba(225,225,225,0.4);
    border-radius: 10px;
    /* border:1px solid rgba(225,225,225,0.2); */
    position: absolute;
    backdrop-filter: blur(5px);
    display: block;
    margin: 0 auto;
}
.drop1{
    width: 47%;
    height: 150px;
    top: 10px;
    left: 0;
    right: 0;
    z-index: 2;
    backdrop-filter: blur(5px);
}
.drop2{
    width: 40px;
    height: 40px;
    top: -30px;
    left: -80%;
    right: 0;
    z-index: 4;
}
.drop3{
    width: 60px;
    height: 60px;
    top: 120px;
    right: 30px;
    z-index: 3;
}
.drop4{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -55px;
    right: 20px;
}